<h2>Asset Helpers</h2>

<!--
<img src="http://fillmurray.com/180/120">
-->

<%= image_tag "http://fillmurray.com/180/120", :alt => "A tired sad old Bill Murray" %>

<%= image_tag "funny.jpg", :alt => 'A child smoking' %>

<p>See also video_tag and audio_tag</p>
