body {
  background-color: yellow;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  line-height: 300px;
}

.block {
  /* For most elements, this is the default */
  display: block;
}

.inline {
  /* Sit side-by-side but width and height are ignored */
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

/* Child selector */
.spooky span {
  color: black;
  visibility: hidden;
}

/* Pseudoselector */
.spooky:hover {
  background-color: black;
}

.spooky:hover span {
  transition: 2s all;
  color: yellow;
  visibility: visible;
}
