body {
  background-color: yellow;
}

.box {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  line-height: 300px;
}

.block {
  /* For most elements, this is the default */
  display: block;
}

.inline {
  /* Sit side-by-side but width and height are ignored */
  display: inline;
}

.inline-block {
  /* Side-by-side but with width and height */
  display: inline-block;
}

.none {
  /* Occupies no space on the page */
  display: none;
}

.hidden {
  /* Reserves space for the element but it is invisible */
  visibility: hidden;
}

/* Child selector */
.spooky span {
  color: black;
  visibility: hidden;
}

/* Pseudoselector */
/* Change colour when someone hovers over this div */
.spooky:hover {
  background-color: black;
}

/* Change the span color when the parent is hovered */
.spooky:hover span {
  transition: 2s all; /* CSS animations! */
  color: yellow;
  visibility: visible;
}
