<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CSS Layout Demo</title>
  <link rel="stylesheet" href="css/portfolio.css">
</head>
<body>

  <div class="container">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">FAQ</a>
        <a href="#">Contact</a>
      </nav>

      <h1>TITLE</h1>
    </header>

    <main>
      <h2>Content Goes Here</h2>
      <img src="http://fillmurray.com/400/601" alt="A photo of Bill Murray">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptatem libero quisquam modi aliquam id quam quod incidunt voluptatibus doloribus, vel numquam, assumenda impedit laudantium quas repellendus ab. Deserunt, dolor.</p>
      <p>Beatae adipisci obcaecati deserunt, officia reiciendis soluta porro, enim quibusdam placeat tempore! Doloribus odio repellendus sit nam libero expedita placeat alias blanditiis culpa dolores, perspiciatis commodi nulla qui quae accusamus.</p>
      <p>Saepe assumenda aliquam, numquam fugit sapiente facere temporibus similique molestiae eligendi repellendus porro impedit in, mollitia. Quod quo voluptate non nostrum, sed recusandae repellendus deserunt error, sapiente cum aut et?</p>
    </main>

    <aside>
      <h3>Fun Facts</h3>
      <ul>
        <li>Groucho</li>
        <li>Harpo</li>
        <li>Chico</li>
        <li>Gummo</li>
      </ul>
    </aside>
  </div>
  <footer></footer>

</body>
</html>
