<div class="row">
  <div class="offset-md-4 col-md-4">
    <h1>Welcome To Tunr</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Trump Assassinated</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas corporis sint vitae, cupiditate eos distinctio non rem. Ipsam incidunt quasi veniam modi. Ipsum at laudantium, impedit cupiditate ratione ea debitis.</p>
  </div>

  <div class="col-md-6 ">
    <h2>Royal Family Actually Lizards</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur enim sed vitae! Consequatur minus beatae dolorum et, obcaecati mollitia consectetur modi nam asperiores, ab excepturi repellendus dignissimos sed, eaque cumque!</p>
  </div>

  <div class="col-md-3">
    <h2>Flu Epidemic</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam beatae debitis aliquid modi quisquam iure nisi voluptates in, cumque quasi autem, consequuntur. Culpa labore, incidunt alias quidem dicta necessitatibus consequatur.</p>
  </div>
</div>
