<form action="/result">
  <label>First number:</label>
  <input type="number" name="x" placeholder="23">
  <label>Operator:</label>
  <input type="text" name="operator" placeholder="+ or - or * or /">
  <label>Second number:</label>
  <input type="number" name="y" placeholder="3">
  <button>Calculate</button>
</form>
