<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Calculator</title>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>

  <h1>Welcome To Crappy Calculator</h1>

  <!-- before yield -->
  <%= yield %>
  <!-- after yield -->

  <footer>
    &copy; Copyright 2018 All Rites Reversed
  </footer>
</body>
</html>
