/*
In very common usage: turn on the new box-model for ALL elements.

* {
  box-sizing: border-box;
}
*/

body {
  background-color: aliceblue;
}

.old {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 50px;
}

.new {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 50px;
}
