// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables for values
$brand-color: #ccc;
$centered: 0 auto;

// Mixins are for properties and values
@mixin colouredBG {
  background-color: $brand-color;
}

@mixin greyItalic {
  color: grey;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  @include colouredBG;
}

h1 {
  text-align: center;
}

.post {
  max-width: 960px;
  margin: $centered;
  margin-bottom: 3em;
  padding: 1em;
  border-bottom: 1px solid black;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 10px black;

  h2 {
    @include greyItalic;
  }

  h3.author {
    text-align: right;
  }

  .content {
    border: 1px solid $brand-color;
    padding: 1em;
    border-radius: 0.5em;

    p {
      font-size: 120%;
      letter-spacing: 1px;
    }
  }
}

.notification {
  border: 1px solid black;
  border-radius: 0.5em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: blue;
  padding: 1em;
  font-size: 150%;
  font-weight: bold;
}

.error {
  @extend .notification; // inheritance
  color: red;
}

.success {
  @extend .notification;
  color: green;
}
