<h1>Look up a stock price</h1>

<form action="/stocks/info">
  <label>Stock symbol:</label>
  <input type="search" name="stock_symbol" required placeholder="AAPL">
  <button>Get price</button>
</form>
